@model UserLoginModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css"/>
    <title>Login</title>
</head>
<body>
<div class="container">
    <form class="w-75 m-5 p-3 shadow mx-auto" asp-action="Login" asp-controller="Account" method="post">
        <div class="mb-3">
            <label for="@Model.UserName" class="form-label">Username: </label>
            <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            <input type="text" class="form-control" asp-for="@Model.UserName"/>
        </div>

        <div class="mb-3">
            <label for="@Model.Password" class="form-label">Password: </label>
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
            <input type="password" class="form-control" asp-for="@Model.Password"/>


        </div>
        <div class="mb-3">
            <button class=" btn btn-primary w-100">Login</button>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </form>
</div>
</body>
</html>