@model List<Project_7.MVC.ResponseModels.ProductResponseModel>

<!DOCTYPE html>

<html>
<head>
    <title>MVC Consule</title>
</head>
<body>
<p>Mvc Works</p>
<p>@ViewBag.ResponseMessage</p>
<a asp-action="Create" asp-controller="Home">Add new product</a>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Created Date</th>
        <th>Image Path</th>
    </tr>
    @if (@Model != null)
    {
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.CreatedDate</td>
                <td>@item.ImagePath</td>
                <td>
                    <a asp-action="Update" asp-controller="Home" asp-route-id="@item.Id">Update</a>
                    <a asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id">Remove</a>
                </td>

            </tr>
        }
    }

</table>
</body>
</html>